################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

.vs/
Output/
*.obj
*.idb
*.pdb
*.tlog
*.lastbuildstate
*.recipe
*.log

# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# End of https://www.toptal.com/developers/gitignore/api/c++
/C_CPP/Lib
/C_CPP/RasterTek07/data/body.dds
/C_CPP/RasterTek07/data/face.dds
/C_CPP/RasterTek07/data/face.png
/C_CPP/RasterTek07/data/hair.dds
/C_CPP/RasterTek07/data/nene.txt
/C_CPP/RasterTek07/data/yuni.txt
/C_CPP/RasterTek07/data/yuniface2.txt
/C_CPP/RasterTek07/nene.txt
/C_CPP/RasterTek08/IronMan.mtl
/C_CPP/RasterTek08/model.txt
/C_CPP/RasterTek08/nene.txt
/C_CPP/RasterTek08/yuni.txt
/C_CPP/RasterTek08/v1_0_IronManRigged.max
/C_CPP/Assets/Textures/body.dds
/C_CPP/Assets/Textures/face.dds
/C_CPP/Assets/Textures/hair.dds
/C_CPP/Assets/Meshes/MechanicGirl/Mechanic_Girl-85698ecb/fbx/FBX
